/* --- Heading --- */
h1, h2, h3, h4, h5, h6 {
  font-weight:700;
  margin: 0 0 15px;
}

/* --- list --- */
ol,ul,dl{margin:15px 0 15px 34px}
li{margin:8px 0}
dt{font-weight: bold}
dd{margin: 0 0 .5rem 2rem}

/* --- Code --- */
code {
  font-family:monospace,monospace;
}
code:not(pre code) {
  font-size:14px;
  background-color:#eeeeee;
  color:#202124;
  border-radius:4px;
  padding:0 8px;
  word-break:break-word;
}
.darkmode code:not(pre code) {
  background-color:#616161;
  color:#ffffff;
}

html:not(.darkmode) {
  --themeColor:$(header.background);
  --color-body-bg:#ffffff;
  --color-header-bg:$(header.background);
  --color-header-title:$(header.color);
  --color-header-icon:$(header.color);
  --color-navigation-menu-bg:#ffffff;
  --color-navigation-menu-links:$(header.color);
  --color-navigation-menu-links2:#5f6368;
  --color-navigation-submenu-bg:#ffffff;
  --color-navigation-submenu-arrow-bg:#dadce0;
  --color-main:#202124;
  --color-secondary:#5f6368;
  --color-link:#1a73e8;
  --color-border:#dadce0;
  --color-icon:#5f6368;
  --color-button-bg:#1a73e8;
  --color-button:#ffffff;
  --color-button-border:#1a73e8;
  --color-button-bg-disabled:rgba(0, 0, 0, 0.12);
  --color-button-disabled:rgba(0, 0, 0, 0.38);
  --color-button-border-disabled:rgba(0, 0, 0, 0.12);
  --color-comment-section-bg:#ffffff;
  --color-baca-juga-bg:rgba(60,64,67,.08);
}
html.darkmode {
  --themeColor:#202124;
  --color-body-bg:#202124;
  --color-header-bg:#202124;
  --color-header-title:#e8eaed;
  --color-header-icon:#9aa0a6;
  --color-navigation-menu-bg:#202124;
  --color-navigation-menu-links:#e8eaed;
  --color-navigation-menu-links2:#e8eaed;
  --color-navigation-submenu-bg:#202124;
  --color-navigation-submenu-arrow-bg:#5f6368;
  --color-main:#e8eaed;
  --color-secondary:#9aa0a6;
  --color-link:#8ab4f8;
  --color-border:#5f6368;
  --color-icon:#9aa0a6;
  --color-button-bg:#8ab4f8;
  --color-button:#202124;
  --color-button-border:#8ab4f8;
  --color-button-bg-disabled:rgba(255, 255, 255, 0.12);
  --color-button-disabled:rgba(255, 255, 255, 0.5);
  --color-button-border-disabled:rgba(255, 255, 255, 0.12);
  --color-comment-section-bg:#202124;
  --color-baca-juga-bg:rgba(232,234,237,0.08);
}

/* --- Body --- */
body {
  background-color:var(--color-body-bg);
  color:var(--color-main);
  font-size:14px;
  font-weight:400;
  font-family:'Inter', sans-serif;
  line-height:1.5;
  -webkit-tap-highlight-color:transparent;
  margin:0;
  padding:0;
}

/* --- Header --- */
#gila_material_header_container {
  position:fixed;
  top:0;
  left:0;
  right:0;
  background-color:var(--color-header-bg);
  border-bottom:1px solid;
  border-color:var(--color-border);
  user-select:none;
  z-index:999;
}
#gila_material_header_wrapper {
  display:flex;
  align-items:center;
  justify-content:space-between;
  height:$(header.height);
  max-width:$(theme.width);
  margin:0 auto;
  padding:0 60px;
}
#gila_material_header_wrapper .header_left {
  display:flex;
  align-items:center;
}
#gila_material_header_wrapper .header_left .menu_button {
  display:none;
}
#header {
  margin-right:15px;
}
#header h1, #header h2 {
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;
  font-size:24px;
  font-weight:500;
  color:var(--color-header-title);
  line-height:55px;
  overflow:hidden;
  margin:0;
}
#header a {
  color:var(--color-header-title);
}
#header p {
  display:none;
}
#header .header-image-wrapper {
  display:block;
  line-height:0;
}
#header .header-image-wrapper img {
  max-height:52px;
  padding:10px 0;
}
.search_active #gila_material_navigation {
  display:none;
}
#gila_material_navigation .header_nav {
  display:none;
}
#gila_material_navigation ul {
  display:flex;
  align-items:center;
  margin:0;
  padding:0;
}
#gila_material_navigation ul li {
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
}
#gila_material_navigation ul li a {
  display:flex;
  align-items:center;
  line-height:55px;
  color:var(--color-navigation-menu-links);
  white-space:nowrap;
  padding:0 15px;
  position:relative;
}
#gila_material_navigation ul li a:hover, #gila_material_navigation ul li a:focus {
  background-color:rgba(60,64,67,.08);
}
.darkmode #gila_material_navigation ul li a:hover, .darkmode #gila_material_navigation ul li a:focus {
  background-color:rgba(232,234,237,0.08);
}
#gila_material_navigation ul li a svg {
  fill:currentcolor;
  margin-right:8px;
}
#gila_material_navigation li .sub_menu:after {
  content:'';
  background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z' fill='%235f6368'/%3E%3C/svg%3E") no-repeat center;
  width:18px;
  height:18px;
  margin-left:8px;
  transition:transform .3s ease;
}
.darkmode #gila_material_navigation li .sub_menu:after {
  background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z' fill='%23e8eaed'/%3E%3C/svg%3E") no-repeat center;
}
#gila_material_navigation li .sub_menu.open:after {
  transform:rotate(180deg);
}
#gila_material_navigation li ul {
  display:none;
  position:absolute;
  top:56px;
  background-color:var(--color-navigation-submenu-bg);
  border-right:1px solid;
  border-left:1px solid;
  border-bottom:1px solid;
  border-color:var(--color-border);
  border-radius:0 0 8px 8px;
}
#gila_material_navigation li ul:before {
  content:'';
  border-color:transparent;
  border-style:solid;
  border-width:0px 8.5px 8.5px;
  border-bottom-color:var(--color-navigation-submenu-arrow-bg);
  position:absolute;
  top:-9px;
  left:20px;
}
#gila_material_navigation li ul li a {
  color:var(--color-navigation-menu-links2);
  line-height:50px;
}
#gila_material_header_wrapper .header_right {
  display:flex;
  align-items:center;
}
#gila_material_header_wrapper .header_left svg:not(#gila_material_navigation .header_nav .close_menu_button svg), #gila_material_header_wrapper .header_right svg {
  fill:var(--color-header-icon);
}

/* --- Search Box --- */
#gila_material_header_wrapper .header_center {
  display:none;
  flex:1 1 100%;
  max-width:600px;
  margin:0 10px;
}
.search_active #gila_material_header_wrapper .header_center {
  display:flex;
}
#main_search_wrap {
  width:100%;
}
#main_search_wrap .search_form {
  display:flex;
  background-color:#ffffff;
  box-shadow:0 3px 1px -2px #0003, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;
  border-radius:30px;
  margin:0;
  padding:3px;
  position:relative;
}
.darkmode #main_search_wrap .search_form {
  background-color:#38393d;
}
#main_search_wrap .search_form .search_input {
  border:none;
  background:none;
  outline:none;
  font-size:16px;
  color:var(--color-main);
  width:-webkit-fill-available;
  padding:0 45px 0 5px;
}
#main_search_wrap .search_form .search_input::placeholder {
  color:#cccccc;
}
.darkmode #main_search_wrap .search_form .search_input::placeholder {
  color:#707070;
}
#main_search_wrap .search_form .search_input::-webkit-search-cancel-button {
  position:absolute;
  top:9px;
  right:12px;
  background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.8 17.7a.8.8 0 0 1 0 1.1l-.6.2-.5-.2-5.7-5.7-5.7 5.7-.5.2-.6-.2a.8.8 0 0 1 0-1.1l5.7-5.7-5.7-5.7a.8.8 0 0 1 1.1-1.1l5.7 5.7 5.7-5.7a.8.8 0 0 1 1.1 1.1L13.1 12z' fill='%235f6368'/%3E%3C/svg%3E");
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  cursor:pointer;
}
.darkmode #main_search_wrap .search_form .search_input::-webkit-search-cancel-button {
  background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.8 17.7a.8.8 0 0 1 0 1.1l-.6.2-.5-.2-5.7-5.7-5.7 5.7-.5.2-.6-.2a.8.8 0 0 1 0-1.1l5.7-5.7-5.7-5.7a.8.8 0 0 1 1.1-1.1l5.7 5.7 5.7-5.7a.8.8 0 0 1 1.1 1.1L13.1 12z' fill='%239aa0a6'/%3E%3C/svg%3E");
}
#main_search_wrap .search_form .submit_button svg {
  width:20px;
  height:20px;
}

/* --- Dark Mode Button --- */
#gila_material_header_wrapper .header_right .dark_mode_button path:last-child {
  display:none;
}
.darkmode #gila_material_header_wrapper .header_right .dark_mode_button path:first-child {
  display:none;
}
.darkmode #gila_material_header_wrapper .header_right .dark_mode_button path:last-child {
  display:block;
}

/* --- Top Height --- */
.top_height {
  height:$(header.height);
  margin-bottom:30px;
}

/* --- Error Page --- */
.error_wrapper {
  display:flex;
  align-items:center;
  flex-direction:column;
  margin:0 15px 40px;
}
.error_wrapper h2 {
  font-size:100px;
  margin-bottom:0;
}
.error_wrapper h3 {
  font-size:21px;
  margin-bottom:15px;
}
.error_wrapper p {
  text-align:center;
  margin-bottom:30px;
}

/* --- Featured Post --- */
.FeaturedPost {
  margin-bottom:30px;
}
.FeaturedPost .post_inside {
  grid-template-areas:
    'thumbnail title'
    'thumbnail info';
  grid-template-rows:1fr;
  grid-template-columns:auto 1fr;
}
.FeaturedPost .post_thumbnail {
  grid-area:thumbnail;
  width:320px;
}
.FeaturedPost .post_footer {
  grid-area:info;
}

/* --- Main Post --- */
#gila_material_content_wrapper {
  display:flex;
  max-width:$(theme.width);
  margin:0 auto;
  padding:0 60px 30px;
}
#gila_material_index_post {
  width:65%;
  margin-right:30px;
}
#gila_material_sidebar {
  width:35%;
}

/* --- Search Query Page --- */
.search_query {
  display:block;
  border:1px solid;
  border-color:var(--color-border);
  border-radius:8px;
  margin-bottom:15px;
  padding:15px;
}
.search_query .message_query {
  margin-bottom:8px;
}
.search_query .message_query .query_text {
  font-size:22px;
  font-weight:700;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;
  overflow:hidden;
}
.search_query a {
  text-decoration:underline;
}
.search_query .message_query .query_text .results_for {
  opacity:.6;
}
.search_query .query_not_found {
  color:var(--color-secondary);
  margin-top:25px;
}

/* --- Latest Posts --- */
.latest_posts {
  display:block;
  margin-bottom:15px;
}
.latest_posts .widget_title h2.title {
  margin:0;
}

/* --- Blog Posts --- */
.isMultipleItems .blog_posts {
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-gap:15px;
}
.isMultipleItems .post_outer {
  border:1px solid;
  border-color:var(--color-border);
  border-radius:8px;
  overflow:hidden;
}
.post_detail {
  width:100%;
  height:100%;
}
.post_inside {
  display:grid;
  grid-template-rows:auto 1fr auto;
  width:100%;
  height:100%;
}
.isSingleItem .post_inside {
  display:block;
}
.post_thumbnail .thumbnail_link {
  display:block;
  line-height:0;
  position:relative;
}
.post_thumbnail .thumbnail_link:not(.PopularPosts .post_thumbnail .thumbnail_link) {
  height:0;
  padding-top:72.25%;
  overflow:hidden;
}
.post_thumbnail .thumbnail_link .post_thumb {
  width:100%;
  height:100%;
}
.post_thumbnail .thumbnail_link .post_thumb:not(.PopularPosts .post_thumbnail .thumbnail_link .post_thumb) {
  object-fit:cover;
  position:absolute;
  top:0;
  left:0;
  right:0;
}
.post_header {
  padding:10px 10px 0;
}
.post_header h3.post_title {
  font-size:20px;
  font-weight:500;
  margin:0;
}
.post_header h3.post_title a {
  color:var(--color-main);
}
.post_header .post_snippet {
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
  overflow:hidden;
  color:var(--color-secondary);
  margin:5px 0 0;
}
.post_footer {
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:8px 10px 10px;
  overflow:hidden;
}
.post_footer .post_labels {
  margin-right:15px;
  overflow:hidden;
}
.post_footer .post_labels a {
  display:block;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}
.post_footer a {
  display:flex;
  align-items:center;
  color:var(--color-secondary);
}
.post_footer a:hover {
  text-decoration:underline;
}
.post_footer a svg {
  width:16px;
  height:16px;
  fill:currentcolor;
  margin-right:6px;
  
}
.post_footer .post_labels a:nth-child(n+2) {
  display:none;
}

/* --- Lazyload Image --- */
.lazyload {
  background-color:#eeeeee;
}
.darkmode .lazyload {
  background-color:#333333;
}
.lazyload_bg {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  backdrop-filter:blur(5px);
  opacity:1;
  visibility:visible;
  transition:all .3s ease;
}
.lazyload.loaded + .lazyload_bg {
  opacity:0;
  visibility:hidden;
}

/* --- Breadcrumbs --- */
.breadcrumbs {
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  white-space:nowrap;
  color:var(--color-secondary);
  margin-bottom:10px;
}
.breadcrumbs > *:not(:last-child):after {
  content:'/';
  margin:0 7px 0 4px;
}
.breadcrumbs a {
  display:inline-block;
  color:var(--color-secondary);
}
.breadcrumbs .home_link a {
  color:var(--color-link);
}
.breadcrumbs a:hover {
  text-decoration:underline;
}

/* --- Entry Title --- */
h1.entry_title {
  font-size:26px;
  margin:0 0 5px;
}

/* --- Snippet Description --- */
.snippet_description {
  font-style:italic;
  color:var(--color-secondary);
  margin-bottom:15px;
}

/* --- Post Meta --- */
.post_meta {
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.post_meta .author_profile {
  display:flex;
  align-items:center;
}
.post_meta .author_profile .author_photo {
  display:block;
  line-height:0;
  margin-right:15px;
}
.post_meta .author_profile .author_photo img {
  width:48px;
  height:48px;
  border-radius:50%;
}
.post_meta .author_meta .author_name {
  display:flex;
  align-items:center;
  font-size:15px;
  font-weight:700;
  margin-bottom:2px;
}
.post_meta .author_meta .author_name svg {
  width:14px;
  height:14px;
  fill:#1a73e8;
  margin-left:5px;
}
.post_meta .author_bottom {
  font-size:13px;
  color:var(--color-secondary);
}
.post_meta .right_bar .comment_button span {
  position:absolute;
  top:2px;
  right:0;
  display:block;
  font-size:10px;
  background-color:#1a73e8;
  color:#ffffff;
  border-radius:30px;
  line-height:1.5;
  padding:0 7px;
}

/* --- Comment Section --- */
#comments {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  background-color:var(--color-comment-section-bg);
  width:400px;
  transform:translateX(640px);
  transition:transform .3s ease;
  overflow-y:auto;
  z-index:1001;
}
.comment_active #comments {
  transform:translateX(0);
}
.comment_header_wrap {
  display:flex;
  align-items:center;
  justify-content:space-between;
  border-bottom:1px solid;
  border-color:var(--color-border);
  height:55px;
  padding:0 15px;
}
.comment_header_wrap .comment_title {
  font-size:15px;
  font-weight:700;
  text-transform:uppercase;
}
.comment_header_wrap .cs_cpop {
  display:flex;
  align-items:center;
}
.comment_header_wrap .cs_cpop .comment_sort {
  position:relative;
}
.comment_header_wrap .cs_cpop .comment_sort .comment_sort_list {
  position:absolute;
  top:40px;
  right:0;
  background-color:#ffffff;
  box-shadow:0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 1px rgb(0 0 0 / 14%);
  opacity:0;
  visibility:hidden;
  transform:scale(.8) translateZ(0);
  transform-origin:top right;
  transition:all .3s ease;
  z-index:1;
}
.darkmode .comment_header_wrap .cs_cpop .comment_sort .comment_sort_list {
  background-color:#303134;
}
.comment_header_wrap .cs_cpop .comment_sort .comment_sort_list.open {
  opacity:1;
  visibility:visible;
  transform:scale(1) translateZ(0);
}
.comment_header_wrap .cs_cpop .comment_sort .comment_sort_list div {
  white-space:nowrap;
  padding:15px;
  cursor:pointer;
}
.comment_header_wrap .cs_cpop .comment_sort .comment_sort_list div.selected {
  background-color:rgba(60,64,67,.08);
}
.darkmode .comment_header_wrap .cs_cpop .comment_sort .comment_sort_list div.selected {
  background-color:rgba(232,234,237,0.08);
}
.comments_content ol {
  display:flex;
  flex-direction:column;
  margin:0;
  padding:0;
}
.comments_content ol.newest {
  flex-direction:column-reverse;
}
.comments_content ol li {
  list-style:none;
  margin:0;
  padding:0;
}
.comments_content > ol > li {
  border-bottom:1px solid;
  border-color:var(--color-border);
  padding:15px;
}
.comments_content .comment_avatar {
  display:block;
  line-height:0;
  float:left;
}
.comments_content .comment_avatar .avatar_img {
  width:37px;
  height:37px;
  border-radius:50%;
}
.comments_content .comment_block {
  padding-left:50px;
}
.comments_content .comment_block .comment_header {
  margin-bottom:5px;
}
.comments_content .comment_block .comment_header a {
  font-size:13px;
  font-weight:500;
  color:var(--color-main);
  margin-right:4px;
}
.comments_content .comment_block .comment_header a.admin {
  display:inline-flex;
  align-items:center;
  background-color:#888888;
  color:#ffffff;
  border-radius:30px;
  padding:1px 7px;
}
.comments_content .comment_block .comment_header a.admin svg {
  width:12px;
  height:12px;
  fill:currentcolor;
  margin-left:4px;
}
.comments_content .comment_block .comment_header .datetime {
  font-size:12px;
  color:var(--color-secondary);
}
.comment_replies .comment_thread .thread_toggle {
  display:inline-flex;
  align-items:center;
  font-weight:500;
  color:var(--color-link);
  margin-top:10px;
  cursor:pointer;
  user-select:none;
}
.comment_replies {
  padding-left:50px;
}
.comment_replies .comment_thread .thread_toggle svg {
  fill:currentcolor;
  margin-right:6px;
  transform:rotate(180deg);
}
.thread_show:checked + .comment_replies .comment_thread .thread_toggle svg {
  transform:rotate(0);
}
.comment_replies .comment_thread .thread_toggle .thread_show_hide.showall {
  display:none;
}
.thread_show:checked + .comment_replies .comment_thread .thread_toggle .thread_show_hide.showall {
  display:block;
}
.comment_replies .comment_thread .thread_toggle .thread_show_hide.showless {
  display:block;
}
.thread_show:checked + .comment_replies .comment_thread .thread_toggle .thread_show_hide.showless {
  display:none;
}
.comment_replies ul {
  display:block;
  margin:15px 0 0;
}
.thread_show:checked + .comment_replies ul {
  display:none;
}
.comment_replies ul li {
  margin-bottom:15px;
}
.comment_replies ul li .comment_avatar .avatar_img {
  width:30px;
  height:30px;
}
.comment_replies ul li .comment_block {
  padding-left:43px;
}
.comment_replies .comment_reply {
  display:block;
  padding-left:43px;
}
.thread_show:checked + .comment_replies .comment_reply {
  display:none;
}
.comment_actions {
  margin:15px 0 0 52px;
}
.comment_replies + .comment_actions {
  display:none;
}
.reply_to {
  color:var(--color-secondary);
  text-transform:uppercase;
}
.reply_to:hover {
  text-decoration:underline;
}
.comment_add .comment_reply {
  display:flex;
  text-transform:uppercase;
  margin:20px;
}
.comment_form #threaded_comment_form {
  margin:15px;
}
#threaded_comment_form {
  margin-top:15px;
}
.thread_show:checked ~ #threaded_comment_form {
  display:none;
}
#comment_editor {
  display:block!important;
  border:1px solid;
  border-color:var(--color-border);
  border-radius:8px;
  width:100%;
}
.comment_button {
  display:flex;
  width:100%;
  text-transform:uppercase;
}
#comments .check, #comments .hidden {
  display:none;
}  

/* --- Post Body --- */
.post_body {
  margin-top:36px;
}
#post_middle {
  font-size:16px;
  text-align:left;
  margin-bottom:30px;
}
#post_middle a:not(.gila_material_button, .manual-related-post a):hover {
  text-decoration:underline;
}
#post_middle .gila_material_button {
  margin:4px;
}
#post_middle img {
  width:100%;
  height:100%;
}
#post_middle h1, #post_middle h2, #post_middle h3, #post_middle h4, #post_middle h5, #post_middle h6 {
  line-height:1.4;
  margin:28px 0 8px;
}
#post_middle h1:target::before, #post_middle h2:target::before, #post_middle h3:target::before, #post_middle h4:target::before, #post_middle h5:target::before, #post_middle h6:target::before {
  content:'';
  display:block;
  height:75px;
  margin:-75px 0 0;
}
#post_middle blockquote {
  background-color:#5f63681f;
  box-shadow:0 1px 2px 0 rgb(0 0 0 / 30%), 0 1px 3px 1px rgb(0 0 0 / 15%);
  border-radius:4px;
  margin:15px 0;
  padding:15px 15px 15px 55px;
  position:relative;
}
.darkmode #post_middle blockquote {
  background-color:#303134;
}
#post_middle blockquote:before {
  content:'';
  background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14,17H17L19,13V7H13V13H16M6,17H9L11,13V7H5V13H8L6,17Z' fill='%2380868b'/%3E%3C/svg%3E") no-repeat center;
  width:35px;
  height:35px;
  display:block;
  position:absolute;
  top:10px;
  left:10px;
  opacity:.5;
}
#post_middle blockquote span, #post_middle blockquote small, #post_middle blockquote footer {
  display:block;
  font-size:14px;
  font-weight:400;
  font-style:italic;
  line-height:1.4;
  opacity:.8;
  margin:8px 0 0;
}

/* --- Table of Contents --- */
.toc_wrap {
  border:1px solid;
  border-color:var(--color-border);
  border-radius:8px;
  margin:2rem 0;
}
.toc_wrap .toc_title {
  border-bottom:1px solid;
  border-color:var(--color-border);
  font-size:16px;
  font-weight:700;
  padding:15px;
}
.toc_wrap #toc_content ol {
  margin:0;
  padding:15px;
  counter-reset:toc-count;
}
.toc_wrap #toc_content ol li {
  list-style:none;
  margin:8px 0;
  padding:0;
}
.toc_wrap #toc_content ol li a {
  display:inline-flex;
  font-size:16px;
  color:var(--color-main);
}
.toc_wrap #toc_content ol li a:hover {
  text-decoration:underline;
}
#toc_content li > a:before {
  content:counters(toc-count,'.')'. ';
  counter-increment:toc-count;
  color:var(--color-secondary);
  display:inline-block;
  margin-right:7px;
}
.toc_wrap #toc_content li ol {
  margin:5px 0 5px 5px;
  padding:0 0 0 15px;
}

/* --- Baca Juga --- */
#baca_juga {
  background-color:var(--color-baca-juga-bg);
  border-radius:8px;
  margin:48px 0 30px;
  padding:40px 15px 15px;
  position:relative;
}
#baca_juga .title {
  background-color:#5f6368;
  color:#ffffff;
  border:5px solid;
  border-color:#ffffff;
  border-radius:30px;
  font-size:16px;
  position:absolute;
  top:-23px;
  left:15px;
  padding:5px 15px;
}
.darkmode #baca_juga .title {
  border-color:#202124;
}
#baca_juga ul {
  margin:0;
  padding:0;
}
#baca_juga ul li {
  list-style:none;
  margin:0;
  padding:0;
}
#baca_juga ul li:not(:last-child) {
  border-bottom:1px dashed;
  border-color:var(--color-border);
  margin-bottom:6px;
  padding-bottom:6px;
}
#baca_juga ul li a {
  display:block;
  font-size:16px;
  color:var(--color-main);
}
#baca_juga ul li a:hover {
  text-decoration:underline;
}

/* --- Author Box --- */
.author_box_wrap {
  display:flex;
  align-items:flex-start;
  border:1px solid;
  border-color:var(--color-border);
  border-radius:8px;
  margin-bottom:30px;
  padding:15px;
}
.author_box_wrap .author_photo {
  margin-right:15px;
}
.author_box_wrap .author_photo img {
  width:100px;
  height:100px;
  border-radius:50%;
}
.author_box_wrap .author_meta .author_name {
  display:flex;
  align-items:center;
  font-size:16px;
  font-weight:700;
  margin-bottom:10px;
}
.author_box_wrap .author_meta .author_name svg {
  width:14px;
  height:14px;
  fill:#1a73e8;
  margin-left:5px;
}
.author_box_wrap .author_meta .author_bio a:hover {
  text-decoration:underline;
}

/* --- Label Under Post --- */
.label_under_post {
  margin-bottom:30px;
}
.label_under_post .label_content {
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  gap:8px;
}
.label_under_post .label_content .label_title {
  font-size:15px;
  font-weight:700;
}
.label_under_post .label_content a {
  border:1px solid;
  border-color:var(--color-border);
  border-radius:30px;
  color:var(--color-secondary);
  padding:5px 15px;
}

/* --- Share Bottom Bar --- */
.share_bottom_bar {
  border:1px solid;
  border-color:var(--color-border);
  border-radius:8px;
  margin-bottom:30px;
  padding:15px;
}
.share_bottom_bar .share_title {
  font-size:15px;
  font-weight:700;
  margin-bottom:15px;
}
.share_bottom_bar .share_content {
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  gap:8px;
  margin-bottom:15px;
}
.share_bottom_bar .share_content a {
  display:block;
  line-height:0;
}
.share_bottom_bar .copy_to_clipboard {
  display:flex;
  gap:8px;
}
.share_bottom_bar .copy_to_clipboard .get_url {
  border:1px solid;
  border-color:var(--color-border);
  border-radius:30px;
  background-color:transparent;
  color:var(--color-secondary);
  outline:none;
  width:100%;
  font-size:14px;
  text-overflow:ellipsis;
  padding:0 15px;
}

/* --- Related Posts Thumbnail --- */
.related_posts ul {
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:15px;
  margin:0;
  padding:0;
}
.related_posts ul li {
  border:1px solid;
  border-color:var(--color-border);
  border-radius:8px;
  list-style:none;
  overflow:hidden;
  margin:0;
  padding:0;
}
.related_posts .post_header h3.post_title {
  font-size:16px;
}

/* --- Blog Pager --- */
#blog_pager {
  display:flex;
  align-items:center;
  justify-content:center;
  margin:25px 0 0;
}
#blog_pager .loading, #blog_pager .no_results {
  display:none;
}
#blog_pager .loading {
  cursor:wait;
}
#blog_pager .no_results.show {
  display:flex;
}

/* --- Sidebar --- */
.sidebar_sticky {
  position:sticky;
  top:75px;
}

/* --- Widget Title --- */
#gila_material_sidebar .widget {
  margin-bottom:25px;
}
.widget_title h2.title {
  font-size:15px;
  line-height:1;
  text-transform:uppercase;
  max-width:100%;
  max-height:100%;
  margin:0 0 15px;
}

/* --- Popular Posts --- */
.PopularPosts .widget_content {
  border:1px solid;
  border-color:var(--color-border);
  border-radius:8px;
  counter-reset:trend-posts-count;
  overflow:hidden;
}
.PopularPosts .post_outer {
  border:none;
  border-radius:0;
  padding:15px;
  position:relative;
}
.PopularPosts .post_outer:not(:last-child) {
  border-bottom:1px solid;
  border-color:var(--color-border);
}
.PopularPosts .post_outer:before {
  content:'0' counter(trend-posts-count);
  counter-increment:trend-posts-count;
  background-color:#5f6368;
  color:#ffffff;
  border-radius:0 0 0 8px;
  position:absolute;
  top:0;
  right:0;
  padding:5px;
}
.PopularPosts .post_inside {
  display:flex;
  align-items:flex-start;
}
.PopularPosts .post_thumbnail {
  margin-right:12px;
}
.PopularPosts .post_thumbnail .thumbnail_link .post_thumb {
  width:50px;
  height:50px;
  object-fit:cover;
  border-radius:8px;
}
.PopularPosts .post_header {
  padding:0;
}
.PopularPosts h3.post_title {
  font-size:16px;
  padding-right:15px;
}

/* --- Label --- */
.Label .list ul {
  margin:0;
  padding:0;
}
.Label .list ul li {
  list-style:none;
  margin:0;
  padding:0;
}
.Label .list ul li:not(:last-child) {
  margin-bottom:12px;
}
.Label .list ul li a {
  display:flex;
  align-items:center;
  justify-content:space-between;
  color:var(--color-secondary);
  border:1px solid;
  border-color:var(--color-border);
  border-radius:8px;
  padding:5px 15px;
}
.Label .cloud {
  display:flex;
  flex-wrap:wrap;
  gap:12px;
}
.Label .cloud .label_name {
  display:block;
  color:var(--color-secondary);
  border:1px solid;
  border-color:var(--color-border);
  border-radius:8px;
  padding:5px 15px;
}
.Label .cloud .label_name .label_count, .Label .list .label_name .label_count {
  display:inline-block;
  background-color:#eeeeee;
  border-radius:8px;
  margin-left:8px;
  padding:0 10px;
}
.darkmode .Label .cloud .label_name .label_count, .darkmode .Label .list .label_name .label_count {
  background-color:#303134;
}

/* --- Blog Archives --- */
.BlogArchive #ArchiveList ul {
  max-width:100%;
  max-height:100%;
  margin:0 0 0 16px;
  padding:0;
}
.BlogArchive #ArchiveList ul li {
  padding:0;
}
.BlogArchive #ArchiveList ul li a {
  color:var(--color-main);
}
.BlogArchive #ArchiveList ul li a:hover {
  text-decoration:underline;
}

/* --- Profile --- */
.Profile .widget_content {
  text-align:center;
  border:1px solid;
  border-color:var(--color-border);
  border-radius:8px;
  padding:15px;
}
.Profile .profile_photo {
  display:block;
  line-height:0;
  margin-bottom:15px;
}
.Profile .profile_photo .profile_img {
  width:100px;
  height:100px;
  border-radius:50%;
}
.Profile .profile_name {
  margin-bottom:10px;
}
.Profile .profile_name .profile_link {
  font-size:16px;
  font-weight:700;
  color:var(--color-main);
}
.Profile .profile_location {
  display:flex;
  align-items:center;
  justify-content:center;
  color:var(--color-secondary);
  margin-bottom:15px;
}
.Profile .profile_location svg {
  width:18px;
  height:18px;
  fill:currentcolor;
  margin-right:5px;
}
.Profile .profile_bio a:hover {
  text-decoration:underline;
}
.Profile .team ul {
  margin:0;
  padding:0;
}
.Profile .team ul li {
  list-style:none;
  margin:0;
  padding:0;
}
.Profile .team ul li:not(:last-child) {
  margin-bottom:12px;
}
.Profile .team_member .profile_link {
  display:flex;
  align-items:center;
}
.Profile .team_member .profile_link .profile_image {
  display:block;
  line-height:0;
  margin-right:12px;
}
.Profile .team_member .profile_link .profile_image .profile_img {
  width:50px;
  height:50px;
  border-radius:50%;
}
.Profile .team_member .profile_link .profile_name {
  color:var(--color-main);
}

/* --- Footer --- */
#gila_material_footer_wrap {
  border-top:1px solid;
  border-color:var(--color-border);
  max-width:100%;
  max-height:100%;
  padding:40px 0 0;
}
#gila_material_footer_wrap .footer_content {
  max-width:$(theme.width);
  margin:0 auto;
  padding:0 60px;
}
#gila_material_footer_wrap .footer_content .footer_widget {
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:30px;
}
#gila_material_footer_wrap .footer_content ul {
  margin:0;
  padding:0;
}
#gila_material_footer_wrap .footer_content ul li {
  list-style:none;
  margin:8px 0;
  padding:0;
}
#gila_material_footer_wrap .footer_content ul li a {
  color:var(--color-main);
}
#gila_material_footer_wrap .footer_content ul li a:hover {
  text-decoration:underline;
}
#gila_material_footer_wrap .footer_content .copyright {
  text-align:center;
  border-top:1px solid;
  border-color:var(--color-border);
  color:var(--color-secondary);
  margin-top:30px;
  padding:20px 0;
}
#gila_material_footer_wrap .footer_content .copyright a {
  color:var(--color-secondary);
}
#gila_material_footer_wrap .footer_content .copyright a:hover {
  text-decoration:underline;
}

/* --- Back To Top --- */
.back_to_top_wrap .back_to_top_button {
  position:fixed;
  right:24px;
  bottom:24px;
  background-color:#ffffff;
  box-shadow:0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
  display:none;
  z-index:1;
  padding:10px;
}
.darkmode .back_to_top_wrap .back_to_top_button {
  background-color:#303134;
}
.back_to_top_wrap .back_to_top_button.show {
  display:block;
}

/* --- Template Components --- */
/* --- Alerts --- */
.gila_material_alert {
  border-radius:4px;
  margin:15px 0;
  padding:15px;
  position:relative;
}
.gila_material_alert:not(.alert_outline) {
  background-color:rgba(0,0,0,.12);
}
.darkmode .gila_material_alert:not(.alert_outline) {
  background-color:rgba(255,255,255,.12);
}
.gila_material_alert.alert_outline {
  border:1px solid;
  border-color:var(--color-border);
}
.gila_material_alert.alert_info, .gila_material_alert.alert_warning, .gila_material_alert.alert_success, .gila_material_alert.alert_error {
  color:#ffffff;
  padding:15px 15px 15px 53px;
}
.darkmode .gila_material_alert.alert_info, .darkmode .gila_material_alert.alert_warning, .darkmode .gila_material_alert.alert_success, .darkmode .gila_material_alert.alert_error {
  color:#202124;
}
.gila_material_alert.alert_info:not(.alert_outline) {
  background-color:#1976d2;
}
.darkmode .gila_material_alert.alert_info:not(.alert_outline) {
  background-color:#90caf9;
}
.gila_material_alert.alert_warning:not(.alert_outline) {
  background-color:#fbc02d;
  color:#202124;
}
.darkmode .gila_material_alert.alert_warning:not(.alert_outline) {
  background-color:#fff9c4;
}
.gila_material_alert.alert_success:not(.alert_outline) {
  background-color:#00701a;
}
.darkmode .gila_material_alert.alert_success:not(.alert_outline) {
  background-color:#c8e6c9;
}
.gila_material_alert.alert_error:not(.alert_outline) {
  background-color:#d32f2f;
}
.darkmode .gila_material_alert.alert_error:not(.alert_outline) {
  background-color:#ffcdd2;
}
.gila_material_alert.alert_info:before, .gila_material_alert.alert_warning:before, .gila_material_alert.alert_success:before, .gila_material_alert.alert_error:before {
  content:'';
  width:24px;
  height:24px;
  position:absolute;
  top:15px;
  left:15px;
}
.gila_material_alert.alert_info:before {
  background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z' fill='%23ffffff'/%3E%3C/svg%3E");
}
.darkmode .gila_material_alert.alert_info:before {
  background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z' fill='%23202124'/%3E%3C/svg%3E");
}
.gila_material_alert.alert_warning:before {
  background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12,2L1,21H23M12,6L19.53,19H4.47M11,10V14H13V10M11,16V18H13V16' fill='%23202124'/%3E%3C/svg%3E");
}
.darkmode .gila_material_alert.alert_warning:before {
  background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12,2L1,21H23M12,6L19.53,19H4.47M11,10V14H13V10M11,16V18H13V16' fill='%23202124'/%3E%3C/svg%3E");
}
.gila_material_alert.alert_success:before {
  background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2C6.5 2 2 6.5 2 12S6.5 22 12 22 22 17.5 22 12 17.5 2 12 2M12 20C7.59 20 4 16.41 4 12S7.59 4 12 4 20 7.59 20 12 16.41 20 12 20M16.59 7.58L10 14.17L7.41 11.59L6 13L10 17L18 9L16.59 7.58Z' fill='%23ffffff'/%3E%3C/svg%3E");
}
.darkmode .gila_material_alert.alert_success:before {
  background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2C6.5 2 2 6.5 2 12S6.5 22 12 22 22 17.5 22 12 17.5 2 12 2M12 20C7.59 20 4 16.41 4 12S7.59 4 12 4 20 7.59 20 12 16.41 20 12 20M16.59 7.58L10 14.17L7.41 11.59L6 13L10 17L18 9L16.59 7.58Z' fill='%23202124'/%3E%3C/svg%3E");
}
.gila_material_alert.alert_error:before {
  background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11,15H13V17H11V15M11,7H13V13H11V7M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20Z' fill='%23ffffff'/%3E%3C/svg%3E");
}
.darkmode .gila_material_alert.alert_error:before {
  background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11,15H13V17H11V15M11,7H13V13H11V7M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20Z' fill='%23202124'/%3E%3C/svg%3E");
}
.gila_material_alert.alert_info.alert_outline {
  border-color:#1976d2;
  color:#1976d2;
}
.darkmode .gila_material_alert.alert_info.alert_outline {
  border-color:#90caf9;
  color:#90caf9;
}
.gila_material_alert.alert_warning.alert_outline {
  border-color:#fb8c00;
  color:#fb8c00; 
}
.darkmode .gila_material_alert.alert_warning.alert_outline {
  border-color:#fff9c4;
  color:#fff9c4;
}
.gila_material_alert.alert_success.alert_outline {
  border-color:#00701a;
  color:#00701a;
}
.darkmode .gila_material_alert.alert_success.alert_outline {
  border-color:#c8e6c9;
  color:#c8e6c9;
}
.gila_material_alert.alert_error.alert_outline {
  border-color:#d32f2f;
  color:#d32f2f;
}
.darkmode .gila_material_alert.alert_error.alert_outline {
  border-color:#ffcdd2;
  color:#ffcdd2;
}
.gila_material_alert.alert_info.alert_outline:before {
  background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z' fill='%231976d2'/%3E%3C/svg%3E");
}
.darkmode .gila_material_alert.alert_info.alert_outline:before {
  background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z' fill='%2390caf9'/%3E%3C/svg%3E");
}
.gila_material_alert.alert_warning.alert_outline:before {
  background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12,2L1,21H23M12,6L19.53,19H4.47M11,10V14H13V10M11,16V18H13V16' fill='%23fb8c00'/%3E%3C/svg%3E");
}
.darkmode .gila_material_alert.alert_warning.alert_outline:before {
  background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12,2L1,21H23M12,6L19.53,19H4.47M11,10V14H13V10M11,16V18H13V16' fill='%23fff9c4'/%3E%3C/svg%3E");
}
.gila_material_alert.alert_success.alert_outline:before {
  background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2C6.5 2 2 6.5 2 12S6.5 22 12 22 22 17.5 22 12 17.5 2 12 2M12 20C7.59 20 4 16.41 4 12S7.59 4 12 4 20 7.59 20 12 16.41 20 12 20M16.59 7.58L10 14.17L7.41 11.59L6 13L10 17L18 9L16.59 7.58Z' fill='%2300701a'/%3E%3C/svg%3E");
}
.darkmode .gila_material_alert.alert_success.alert_outline:before {
  background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2C6.5 2 2 6.5 2 12S6.5 22 12 22 22 17.5 22 12 17.5 2 12 2M12 20C7.59 20 4 16.41 4 12S7.59 4 12 4 20 7.59 20 12 16.41 20 12 20M16.59 7.58L10 14.17L7.41 11.59L6 13L10 17L18 9L16.59 7.58Z' fill='%23c8e6c9'/%3E%3C/svg%3E");
}
.gila_material_alert.alert_error.alert_outline:before {
  background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11,15H13V17H11V15M11,7H13V13H11V7M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20Z' fill='%23d32f2f'/%3E%3C/svg%3E");
}
.darkmode .gila_material_alert.alert_error.alert_outline:before {
  background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11,15H13V17H11V15M11,7H13V13H11V7M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20Z' fill='%23ffcdd2'/%3E%3C/svg%3E");
}
.gila_material_alert .alert_message strong {
  display:block;
  margin-bottom:8px;
}
.gila_material_alert .alert_message a {
  color:inherit;
  text-decoration:underline;
}

/* --- Button --- */
.gila_material_button {
  display:inline-flex;
  align-items:center;
  justify-content:center;
  font-size:14px;
  font-weight:400;
  line-height:38px;
  color:var(--color-button);
  background-color:transparent;
  outline:none;
  border:none;
  border-radius:4px;
  padding:0 15px;
  cursor:pointer;
  user-select:none;
  white-space:nowrap;
}
.gila_material_button:not(.unelevated, .raised) {
  color:var(--color-link);
}
.gila_material_button:not(.disabled, .unelevated, .raised):hover, .gila_material_button:not(.disabled, .unelevated, .raised):focus {
  background-color:rgb(0 0 0 / 5%);
}
.darkmode .gila_material_button:not(.disabled, .unelevated, .raised):hover, .darkmode .gila_material_button:not(.disabled, .unelevated, .raised):focus {
  background-color:rgb(112 112 112 / 10%);
}
.gila_material_button.outline {
  border:1px solid;
  border-color:var(--color-button-border);
}
.gila_material_button.unelevated:not(.disabled), .gila_material_button.raised:not(.disabled) {
  background-color:var(--color-button-bg);
}
.gila_material_button.rounded {
  border-radius:30px;
}
.gila_material_button.raised {
  box-shadow:0 1px 2px 0 rgb(0 0 0 / 30%), 0 1px 3px 1px rgb(0 0 0 / 15%);
}
.gila_material_button.disabled {
  color:var(--color-button-disabled);
  cursor:not-allowed;
}
.gila_material_button.outline.disabled {
  border-color:var(--color-button-border-disabled);
}
.gila_material_button.unelevated.disabled, .gila_material_button.raised.disabled {
  background-color:var(--color-button-bg-disabled);  
}
.gila_material_button svg {
  width:18px;
  height:18px;
  fill:currentcolor;
  margin-right:8px;
}
.gila_material_button_icon {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  line-height: 0;
  border-radius: 50%;
  padding: 8px;
  position: relative;
}
.gila_material_button_icon:not(.back_to_top_wrap .back_to_top_button):hover, .gila_material_button_icon:not(.back_to_top_wrap .back_to_top_button):focus {
  background-color:rgba(60,64,67,.08);
}
.darkmode .gila_material_button_icon:not(.back_to_top_wrap .back_to_top_button):hover, .darkmode .gila_material_button_icon:not(.back_to_top_wrap .back_to_top_button):focus {
  background-color:rgba(232,234,237,0.08);
}
.gila_material_button_icon svg {
  fill:var(--color-icon);
}

/* --- Table --- */
.gila_material_table {
  display:inline-block;
  box-shadow:0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  border-radius:4px;
  width:100%;
  overflow-y:hidden;
  overflow-x:auto;
}
.darkmode .gila_material_table {
  background-color:#333333;
}
.gila_material_table table {
  display:table;
  table-layout:fixed;
  font-size:16px;
  border:0;
  border-collapse:collapse;
  min-width:100%;
  white-space:nowrap;
  margin:0;
}
.gila_material_table .table_primary thead {
  background-color:#4281d9;
  color:#ffffff;
}
.gila_material_table .table_warning thead {
  background-color:#df9d34;
  color:#ffffff;
}
.gila_material_table .table_success thead {
  background-color:#41ba79;
  color:#ffffff;
}
.gila_material_table .table_error thead {
  background-color:#dc5a4e;
  color:#ffffff;
}
.gila_material_table table thead th {
  font-weight:700;
  border-bottom:1px solid;
  border-color:var(--color-border);
}
.gila_material_table table th, .gila_material_table table td {
  font-weight:400;
  padding:15px;
}
.gila_material_table table tbody tr:not(:first-child) {
  border-top:1px solid;
  border-color:var(--color-border);
}
.gila_material_table .table_stripped tbody tr:nth-of-type(2n+1), .gila_material_table .table_hovered tbody tr:hover {
  background-color:rgba(0,0,0,.12);
}
.darkmode .gila_material_table .table_stripped tbody tr:nth-of-type(2n+1), .darkmode .gila_material_table .table_hovered tbody tr:hover {
  background-color:rgba(255,255,255,.12);
}
.gila_material_table.table_sticky {
  max-height:400px;
  overflow:auto;
}
.gila_material_table.table_sticky table {
  border-collapse:separate;
  border-spacing:0;
}
.gila_material_table.table_sticky table thead {
  position:sticky;
  top:0;
}
.gila_material_table.table_sticky table thead:not(.gila_material_table .table_primary thead, .gila_material_table .table_warning thead, .gila_material_table .table_success thead, .gila_material_table .table_error thead) {
  background-color:#ffffff;
}
.darkmode .gila_material_table.table_sticky table thead:not(.gila_material_table .table_primary thead, .gila_material_table .table_warning thead, .gila_material_table .table_success thead, .gila_material_table .table_error thead) {
  background-color:#333333;
}
.gila_material_table.table_sticky table tbody tr:not(:last-child) th, .gila_material_table.table_sticky table tbody tr:not(:last-child) td {
  border-bottom:1px solid;
  border-color:var(--color-border);
}

/* --- Accordion/Collapsible Panel --- */
.gila_material_collapse {
  display:block;
  border:1px solid;
  border-color:var(--color-border);
  border-radius:4px;
  margin:15px 0;
  overflow:hidden;
}
.gila_material_collapse .collapse_panel .collapse_header {
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:10px 16px;
  cursor:pointer;
}
.gila_material_collapse .collapse_panel:not(:first-child) .collapse_header {
  border-top:1px solid;
  border-color:var(--color-border);
}
.gila_material_collapse .collapse_panel .collapse_header.active {
  border-bottom:1px solid;
  border-color:var(--color-border);
}
.gila_material_collapse .collapse_panel .collapse_header:after {
  content:'';
  background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z' fill='%23000000'/%3E%3C/svg%3E") no-repeat center;
  border-radius:50%;
  flex:0 0 auto;
  width:24px;
  height:24px;
  margin-left:12px;
  transition:transform .3s ease;
}
.darkmode .gila_material_collapse .collapse_panel .collapse_header:after {
  background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z' fill='%23ffffff'/%3E%3C/svg%3E") no-repeat center;
}
.gila_material_collapse .collapse_panel .collapse_header.active:after {
  transform:rotate(180deg);
}
.gila_material_collapse .collapse_panel .collapse_content {
  display:none;
  padding:16px;
}
.gila_material_collapse .collapse_panel .collapse_content.open {
  display:block;
}
.gila_material_collapse .collapse_panel .collapse_content .gila_material_highlight_wrap, .gila_material_collapse .collapse_panel .collapse_content .gila_material_alert {
  margin:0;
}

/* --- Pre Code --- */
.gila_material_highlight_wrap {
  margin:15px 0;
}
.gila_material_highlight_wrap pre {
  font-size:14px;
  background-color:#181818;
  box-shadow:0 1px 2px 0 rgb(0 0 0 / 30%), 0 1px 3px 1px rgb(0 0 0 / 15%);
  color:#ffffff;
  border-radius:4px;
  overflow:hidden;
  overflow-x:auto;
  padding:20px;
  position:relative;
}
.darkmode .gila_material_highlight_wrap pre {
  background-color:#3b3b3b;
}
.gila_material_highlight_wrap pre[data-lang] {
  padding-top:80px;
}
.gila_material_highlight_wrap pre[data-lang]:before {
  content:attr(data-lang);
  position:absolute;
  top:0;
  right:0;
  left:0;
  background-color:#303134;
  padding:15px;
}

/* --- Manual Related posts --- */
.manual-related-post {
  display:inline-flex;
  margin:15px 0;
}
.manual-related-post a {
  background-color:#5f63681f;
  box-shadow:0 1px 2px 0 rgb(0 0 0 / 30%), 0 1px 3px 1px rgb(0 0 0 / 15%);
  color:var(--color-main);
  border-radius:4px;
  font-size:16px;
  max-width:300px;
  padding:15px;
}
.darkmode .manual-related-post a {
  background-color:#303134;
}
.manual-related-post a span {
  display:flex;
  align-items:center;
  justify-content:space-between;
  font-size:14px;
  color:var(--color-secondary);
  margin-top:10px;
}
.manual-related-post a span:after {
  content:'';
  background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z' fill='%239aa0a6'/%3E%3C/svg%3E");
  background-repeat:no-repeat;
  background-position:center;
  width:24px;
  height:24px;
  transform:rotate(-40deg);
}

/* --- Media Player --- */
.media_player {
  height:0;
  margin:15px 0;
  padding-bottom:56.25%;
  position:relative;
  overflow:hidden;
}
.media_player embed, .media_player iframe, .media_player object {
  width:100%;
  height:100%;
  max-width:100%;
  position:absolute;
  top:0;
  left:0;
}

/* --- Post Reference --- */
.post_reference {
  font-size:14px;
  opacity:.7;
}

/* --- Snackbar --- */
.snackbar {
  position:fixed;
  bottom:24px;
  left:24px;
  background-color:#202124;
  box-shadow:0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
  color:#ffffff;
  border-radius:4px;
  padding:12px 24px;
  z-index:2;
  opacity:0;
  visibility:hidden;
  transform:scale(.8);
  transition:transform .3s ease;
}
.darkmode .snackbar {
  background-color:#303134;
}
.snackbar.active {
  opacity:1;
  visibility:visible;
  transform:scale(1);
}

/* --- Backdrop --- */
.backdrop, .backdrop_nav {
  position:fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  background-color:rgba(0,0,0,0.85);
  opacity:0;
  visibility:hidden;
  z-index:1000;
  transition:all .3s ease;
}
.backdrop_nav {
  z-index:998;
}
.nav_active .backdrop_nav, .comment_active .backdrop {
  opacity:1;
  visibility:visible;
}

/* --- Ads Widget --- */
.ad_under_header {
  max-width:$(theme.width);
  margin:0 auto 30px;
  padding:0 60px;
}
#top_ad_content, #middle_ad1_content, #middle_ad2_content, #parallax_ad_content, #bottom_ad_content {
  margin:24px 0;
}
#parallax_ad {
  display:none;
}
.ad_box {
  display:flex;
  align-items:center;
  justify-content:center;
  color:var(--color-secondary);
  border:1px solid;
  border-color:var(--color-border);
  border-radius:8px;
  width:100%;
  height:200px;
}

/* --- Media Responsive --- */
@media screen and (max-width:1024px) {
  .FeaturedPost .post_thumbnail {
    width:276px;
  }
  #gila_material_content_wrapper {
    display:block;
  }
  #gila_material_index_post {
    width:100%;
    margin:0 0 40px;
  }
  #gila_material_sidebar {
    width:100%;
  }
}
@media screen and (max-width:768px) {
  #header {
    margin-left:5px;
  }
  #gila_material_header_wrapper .header_left .menu_button {
    display:block;
  }
  .search_active #gila_material_header_wrapper .header_left #header {
    display:none;
  }
  #gila_material_navigation .header_nav {
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-bottom:1px solid;
    border-color:var(--color-border);
    height:55px;
    margin-bottom:15px;
    padding:0 15px;
  }
  #gila_material_navigation .header_nav .title {
    font-size:20px;
    font-weight:500;
  }
  #gila_material_navigation {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    background-color:var(--color-navigation-menu-bg);
    box-shadow:0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%), 0px 2px 4px -1px rgb(0 0 0 / 20%);
    width:300px;
    z-index:999;
    overflow-y:auto;
    transform:translateX(-310px);
    transition:transform .3s ease;
  }
  .nav_active #gila_material_navigation {
    transform:translateX(0);
  }
  #gila_material_navigation ul {
    display:block;
  }
  #gila_material_navigation ul li a {
    color:#5f6368;
    line-height:48px;
  }
  .darkmode #gila_material_navigation ul li a {
    color:#e8eaed;
  }
  #gila_material_navigation li .sub_menu:after {
    margin-left:auto;
  }
  #gila_material_navigation li ul {
    position:unset;
    border:none;
    border-radius:0;
    background-color:transparent;
  }
  #gila_material_navigation li ul:before {
    display:none;
  }
  #gila_material_navigation li ul li a {
    line-height:48px;
    padding-left:47px;
  }
}
@media screen and (max-width:640px) {
  #gila_material_header_wrapper {
    padding:0 10px;
  }
  .search_active #gila_material_header_wrapper .header_right {
    display:none;
  }
  .ad_under_header {
    padding:0 15px;
  }
  #gila_material_content_wrapper {
    padding:0 15px 30px;
  }
  .FeaturedPost .post_inside {
    grid-template-areas:unset;
    grid-template-rows:auto 1fr auto;
    grid-template-columns:unset;
  }
  .FeaturedPost .post_thumbnail {
    grid-area:unset;
    width:auto;
  }
  .FeaturedPost .post_footer {
    grid-area:unset;
  }
  .post_footer {
    font-size:13px;
  }
  .isMultipleItems .blog_posts {
    grid-gap:10px;
  }
  .blog_posts .post_header h3.post_title {
    font-size:16px;
  }
  #gila_material_footer_wrap .footer_content {
    padding:0 15px;
  }
  #gila_material_footer_wrap .footer_content .footer_widget {
    grid-template-columns:1fr;
  }
  #comments {
    width:100%;
  }
  #parallax_ad {
    display:block;
  }
  #parallax_ad_content {
    position:relative;
    overflow:visible;
    height:700px;
  }
  #parallax_ad_content > div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(auto auto auto auto);
    overflow: hidden;
  }
  #parallax_ad_content > div > div {
    width:100%;
    height:100%;
    position:fixed;
    top:80px;
    left:0;
    padding:0 15px;
  }
  .author_box_wrap {
    flex-direction:column;
    align-items:center;
    text-align:center;
  }
  .author_box_wrap .author_photo {
    margin:0 0 15px;
  }
  .author_box_wrap .author_meta .author_name {
    justify-content:center;
  }
  .related_posts ul {
    grid-template-columns:1fr 1fr;
    grid-gap:10px;
  }
  .snackbar {
    bottom:0;
    left:0;
    right:0;
    width:-webkit-fill-available;
    margin:15px;
  }
}
.gila_temax_manual_anchor_ads {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-top: 1px solid;
  border-color: #e6e6e6;
  z-index: 999;
}
.gila_temax_manual_anchor_ads .close_button {
  position: absolute;
  top: -30px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid;
  border-bottom: 0;
  border-color: #e6e6e6;
  border-radius: 8px 8px 0 0;
  width: 50px;
  height: 30px;
  line-height: 0;
  cursor: pointer;
}
.gila_temax_manual_anchor_ads .close_button svg {
  width: 20px;
  height: 20px;
}
